optimum-graphcore @ git+https://github.com/graphcore/optimum-graphcore-fork@test-integration-3.2
--find-links https://download.pytorch.org/whl/torch_stable.html
torchaudio == 0.13.1+cpu
librosa
jiwer
soundfile
